@page "/"
@rendermode InteractiveServer

<PageTitle>BATTLE!</PageTitle>

@if(firstLogin)
{
    <h1> Blazing Clicker Battles </h1>
    <h2> Please set your name... </h2>
    <p> Set your name here: </p>
    <p> <input @bind=nameInput/> <button @onclick="setName"> OK </button></p>
}
else
{
    @if(!loss)
    {
    <div style="display: flex; justify-content: space-between; padding: 20px;">
        <div style="width: 45%; padding: 10px;">
            <h1>@(Player.PlayerName):</h1>
            <p>Level @Player.Level - Gold: @Player.Gold</p>
            <p>HP: @Player.CurrentHP / @Player.MaxHP</p>
            <p>Strength: @Player.Strength @if(combat){ <p></p> <button @onclick="attack">--Melee Attack!--</button>}</p>
            <p>Intelligence: @Player.Intelligence @if(combat){ <p></p> <button @onclick="attack">--Magic Attack!--</button>} </p>
            <p>Shield: @Player.Shield</p>
            <p>XP: @Player.CurrentXP / @Player.NeededXP</p>
    @if(victory)
    {
        <h2> Victory! @Player.PlayerName gains @(xpGained)XP!</h2>
    }

    @if(!combat)
    {
        <button @onclick="battle">BATTLE!</button>
    }
        </div>
    
    @if(combat)
    {
    <div style="width: 85%; padding: 10px;">
        <h1>@(enemy.EnemyName):</h1>
        <p>Level @enemy.Level</p>
        <p>HP: @enemy.CurrentHP / @enemy.MaxHP</p>
        <p>Toughness: @enemy.Toughness </p>
    </div>
    <div style="width: 20%; padding: 10px;">
        <h3> Round:  @roundNumber </h3>
        <h3> Combat Log: </h3>
        @if(roundNumber > 0)
        {
            <p>@Player.PlayerName attacks!</p>
            <p>@Player.PlayerName rolls @playerRoll!</p>
            <p>@damageDone damage done to @enemy.EnemyName!</p>
            <p>@enemy.EnemyName attacks back!</p>
            <p>@enemy.EnemyName rolls @enemyRoll!</p>
            <p>@damageTaken damage done to @Player.PlayerName!</p>
        }
        </div>
    }

    </div>
    }
    else 
    {
        <h1> YOU LOSE </h1>
        <h2> @Player.PlayerName is slain!</h2>
        <h2><button @onclick="reset"> Try Again </button></h2>
    }
}




@code
{   
    public static bool firstLogin = true;
    public string nameInput = "";
    public int playerRoll;
    public int enemyRoll;
    public int damageDone;
    public int damageTaken;
    public bool combat = false;
    public bool victory = false;
    public bool loss = false;
    public int roundNumber = 0;

    public int xpGained = 0;


    public void setName()
    {
        Player.PlayerName = nameInput;
        nameInput = "";
        firstLogin = false;
    }

    public void battle()
    {
        combat = true;
        victory = false;
    }


    public Enemy enemy = EnemyGenerator.Generate();

    public void regen()
    {
        enemy = EnemyGenerator.Generate();
    }

    public void attack()
    {

        playerRoll = Player.AttackRoll();
        damageDone = playerRoll - enemy.Toughness;
        if(damageDone < 1)
        {
            damageDone = 1;
        }
        enemy.CurrentHP -= damageDone;

        if (!enemyDead())
        {
            enemyRoll = enemy.AttackRoll();
            damageTaken = enemyRoll - Player.Shield;
            if(damageTaken < 1)
            {
            damageTaken = 1;
            }
            Player.CurrentHP -= damageTaken;
            if(Player.CurrentHP < 1)
            {
                loss = true;
            }
            roundNumber++;
        }
    }

    public bool enemyDead()
    {
        if(enemy.CurrentHP > 0) 
        {
            return false;
        }
        combat = false;
        victory = true;
        regen();
        Player.HealToFull();
        xpGained = enemy.Level * 10;
        Player.CurrentXP += xpGained;
        roundNumber = 0;
        return true;
    }

    public void reset()
    {
        Player.ResetProgress();
        regen();
        roundNumber = 0;
        loss = false;
        combat = false;
        firstLogin = true;
    }
    
}   


