@page "/"
@rendermode InteractiveServer

<PageTitle>BATTLE!</PageTitle>

@if(firstLogin)
{
    <h1> Please set your name... </h1>
    <p> Set your name here: </p>
    <p> <input @bind=nameInput/> <button @onclick="setName"> OK </button></p>
}
else
{
    <h1>@(Player.PlayerName):</h1>
    <p>Level @Player.Level - Gold: @Player.Gold</p>
    <p>HP: @Player.CurrentHP / @Player.MaxHP</p>
    <p>Strength: @Player.Strength -------------   <button @onclick="attack"> Melee Attack! </button> </p>
    <p>Intelligence: @Player.Intelligence   -------------- <button @onclick="attack"> Magic Attack! </button> </p>
    <p>Shield: @Player.Shield</p>
    <p>XP: @Player.CurrentXP / @Player.NeededXP</p>

    <h1>@(enemy.EnemyName):</h1>
    <p>Level @enemy.Level</p>
    <p>HP: @enemy.CurrentHP / @enemy.MaxHP</p>
    <p>Toughness: @enemy.Toughness </p>
    <button @onclick="regen"> Regen(TEST) </button>

    if(combatStarted)
    {
    <h1> Combat Log: </h1>
    <h2> Round: @roundNumber </h2>
    <p>@Player.PlayerName attacks!</p>
    <p>@Player.PlayerName rolls @playerRoll!</p>
    <p>@damageDone damage done to @enemy.EnemyName!</p>
    <p>@enemy.EnemyName attacks back!</p>
    <p>@enemy.EnemyName rolls @enemyRoll!</p>
    <p>@damageTaken damage done to @Player.PlayerName!</p>
    }


}



@code
{   
    public static bool firstLogin = true;
    public string nameInput = "";
    public int playerRoll;
    public int enemyRoll;
    public int damageDone;
    public int damageTaken;
    public bool combatStarted = false;
    public int roundNumber = 0;


    public void setName()
    {
        Player.PlayerName = nameInput;
        nameInput = "";
        firstLogin = false;
    }


    public Enemy enemy = EnemyGenerator.Generate();

    public void regen()
    {
        enemy = EnemyGenerator.Generate();
    }

    public void attack()
    {

        combatStarted = true;
        playerRoll = Player.AttackRoll();
        damageDone = playerRoll - enemy.Toughness;
        if(damageDone < 1)
        {
            damageDone = 1;
        }
        enemy.CurrentHP -= damageDone;
        enemyRoll = enemy.AttackRoll();
        damageTaken = enemyRoll - Player.Shield;
        if(damageTaken < 1)
        {
            damageTaken = 1;
        }
        Player.CurrentHP -= damageTaken;
        roundNumber++;
    }

    

}   
